.App {
  position: relative;
  height: 100vh;
  background-color: #303f60;
}

.topBackground {
  position: "absolute";
  background-color: #303f60;
  top: 0;
  height: 30vh;
  width: 100%;
  display: none;
}
.bottoBackground {
  position: "absolute";
  background-color: #edf6ff;
  bottom: 0;
  height: 60vh;
  width: 100%;
  position: absolute;
}
